 Note on the project / todo. 

  Whole app Car inventory


  --- √ phase1
     set up user with Devise functionality
       This include runing all the needed command

     set up admin on user which will be a boolean
     https://github.com/heartcombo/devise/wiki/How-To:-Add-an-Admin-Role
     option 2: on the link.
     
     To identify Admin you put any where

     if current_user.admin?
       # do something
    end  

    If the page could potentially not have a current_user set then:
     
     if current_user.try(:admin?)
    # do something
   end

   use code to grant Admin access to current user
   current_user.update_attribute :admin, true


---- phase 2

  Demo app | my app

  √ users  - user
  √ project(name, description:text, references to users) - dealership(name,address, references to user)  
   √ task(name,description:text status project:references)   - inventory =>  inventory of cars(carmodel,price:integer, status [old or new], dealership:references)

√Set up the inventory for cars.  models,controller, views
 √Set up dealership models,controller, views
 √ Set up dealership models,controller, views

√Test that we are able to sign up. 

Demo sign-up account - admin
 Emails : bob@example.com
 password: bob123!freshly
 
  Emails : john@example.com
 password: asfasf!123

 ------√ phase 3 Give admin the power to add, edit and destory inventory
   For admin, Include the instruction on how to do it in the terminal
    drop into  irb
     and Change user boolean to admin. 
      
      add if 
 <%if current_user && current_user.admin? %>
  //do something

<%end%>
 To change user to Admin in Terminal 

 Cd into you car_inventory file
   use the app by:
    Sign-up or log_ing into a user account.
 
  In the car_inventory terminal

    run "rails c"
   then run  "User.first" to make sure you are on the right user. 
  
  It shows
  #<User id: 1, email: "bob@example.com", 
  created_at: "2021-02-12 18:39:27.791451000 +0000", updated_at: "2021-02-12 18:39:27.791451000 +0000", admin: false> 
 
  use code to grant Admin access to current user
  run "@user = @user.admin = true "
   run "@user.admin = true"
    run "@user.save"
    
  current_user.update_attribute :admin, true

  user and admin video. min 6:40






-----------------------------------------------------phase 4 
     Stop video at 19:53.   have a little issue.
      Edit button is giving me issues.  

 
  // Put in readme. 

  To change user to Admin in Terminal 

 Cd into you car_inventory file
   use the app by:
    Sign-up or log_ing into a user account.
 
  In the car_inventory terminal

    run "rails c"
   then run  "User.first" to make sure you are on the right user. 
  
  It shows
  #<User id: 1, email: "bob@example.com", 
  created_at: "2021-02-12 18:39:27.791451000 +0000", updated_at: "2021-02-12 18:39:27.791451000 +0000", admin: false> 
 
  use code to grant Admin access to current user
  run "@user = @user.admin = true "
   run "@user.admin = true"
    run "@user.save"
  ------  or 
  current_user.update_attribute :admin, true
--------------------------------------------Phasee 5  Install and Rails Rubocup
    ultimate sources rubocop  https://docs.rubocop.org/rubocop/1.0/cops_style.html#styledocumentation
    https://github.com/rubocop-hq/rubocop-rails
    https://github.com/rubocop-hq/rubocop
 exclude certain files
 https://docs.rubocop.org/rubocop/configuration.html#includingexcluding-files   

    /// need a little configuration. 
    Readme:  When we run "rubocop add --force-exclusion"
     It help rubocop omit files saved in .rubocop.yml
  Readme:  Todo: Add all the comments as needed. 
  Then, explain how to run rubocop in exclude certain files.
  MAke sure to CD into the correct file 

    -----------------------------------Phase 6 Install rspec--
     
      TDD testing  for inventory cars
      If we are using rspec on project we build  already.
 https://semaphoreci.com/community/tutorials/how-to-test-rails-models-with-rspec

  ReadMe: Rails comes with it our natural test enviorments


     put rspec in the gemfile
      run "bundle Install" 
     run "rails generate rspec:install"
      
      To run rspec 
       run bundle exec rspec

      Generate test files with rspec. 
      https://relishapp.com/rspec/rspec-rails/docs/generators

      rspec contoroller
      https://relishapp.com/rspec/rspec-rails/v/4-0/docs/controller-specshttps://relishapp.com/rspec/rspec-rails/v/4-0/docs/controller-specs



--------------√ Price change -%20 at end of every month -
Get the end of the month
https://stackoverflow.com/questions/14120661/get-last-day-of-the-month-in-ruby
Created in the dealership model.
 Now we need to use it in out Show page with the prices.
  In video Project. See how 

  percent_complete was used in the Project model and inside the project 
    minutes: 49:10, or 1:03:05

  For my project. end_of_month in dealership model
 Get the last of the month === https://www.rubyguides.com/2015/12/ruby-time/

 Note: Feb end in 29 days
        june  30 days
        rest of month has 31 days 

    method 
     if date in a month is 29th or 30 or 31?

      reduce price by %20

      https://www.geeksforgeeks.org/ruby-date-and-time/

  Readme: 

  
-------------------------------------Sign-out button... Look at devise files 
 Move the sign-out button. so be where we can use it all the time.
 Look back onto Your rails video
 Resources : https://stackoverflow.com/questions/26595874/i-want-make-push-and-get-error-src-refspec-master-does-not-match-any

 ------------------- Issues with mimemagic---
  Manual update in the gemlock file to latest update and run 
  "bundle install"
  "rake db:migrate'
  "rails s  -- to launch server"