 Note on the project / todo. 

  Whole app Car inventory


  --- √ phase1
     set up user with Devise functionality
       This include runing all the needed command

     set up admin on user which will be a boolean
     https://github.com/heartcombo/devise/wiki/How-To:-Add-an-Admin-Role
     option 2: on the link.
     
     To identify Admin you put any where

     if current_user.admin?
       # do something
    end  

    If the page could potentially not have a current_user set then:
     
     if current_user.try(:admin?)
    # do something
   end

   use code to grant Admin access to current user
   current_user.update_attribute :admin, true

---- Phase 2
     
      TDD testing  for inventory cars
      If we are using rspec on project we build  already.
 https://semaphoreci.com/community/tutorials/how-to-test-rails-models-with-rspec
  Note: Rails comes with it our natural test enviorments

---- phase 3 

  Demo app | my app

  √ users  - user
  √ project(name, description:text, references to users) - dealership(name,address, references to user)  
   √ task(name,description:text status project:references)   - inventory =>  inventory of cars(carmodel,price:integer, status [old or new], dealership:references)

√Set up the inventory for cars.  models,controller, views
 √Set up dealership models,controller, views
 √ Set up dealership models,controller, views

Test that we are able to sign up. 

Demo sign-up account
 Emails : bob@example.com
 password: bob123!freshly


 ------
   For admin, Include the instruction on how to do it in the terminal

    drop into  irb
     and Change user boolean to admin. 

 